:root {
    --container-padding: 100px;
    --viewport-max-width: 1600px;
    --viewport-min-width: 800px;


    /* font-size */
    --default-fz: 16px;
    --lg-title-fz: 28px;



    /* font color --dark theme*/
    --focus-title-dark: #eaeaea;
    --focus-title-sub-dark: #e3e3e3;
    --feature-title-dark: #d2d2d2;
    --feature-title-sub-dark: #727272;

    --feature-text-dark: #b2b2b2;
    --content-text-light: #372a2a;
    --content-text-sub-light: #3e3434;
    /* section BG color */
    --default-theme-main: #2e0bac;
    --theme-pop: #af1414;
}


/* ------ */
/* section-aboutus
starts */






.section-aboutus{
    margin-top: 5rem;
}

.block-wrap{
    margin-bottom: 3rem;
    background-color: #c5c5c509;

}


.section-aboutus-block-intro{
    padding: 2rem 0;

}
.block-intro-content{
    box-sizing: border-box;
    padding-right: 2rem;
}
.block-intro-img{
    /* width: 37rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-intro-img img{
    width: 80%;
    height: 100%;
    max-width: 37rem;
    object-fit: cover;
}


.intro-content-title {
    /* border: 1px solid #000; */
    border-bottom: 5px white solid;
    width: 100%;

}
.intro-content-title h3{
    /* width: 100%; */
    font-size: 40px;
    color: rgb(234, 238, 250);
    font-weight: 500;
    line-height: 45px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.intro-content-txt{
    padding: 0 10px;
    box-sizing: border-box;
}
.intro-content-txt p{
    
    color: var(--feature-text-dark);
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
    padding: 1.5rem 0;
}

.block-story-content{
    position: relative;
}
.block-story-content p{
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    padding-top: 3rem;

    position: absolute;
    left: 10%;
    bottom: 5%;

    background-color: #363636;
    color: var(--feature-text-dark);

    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;


}
.block-story-content p::after{
    content: '';
    width: calc(100% + ( var(--container-padding)) * 2 );
    height: .1rem;

    background-color: #979797;

    top: 2.5rem;
    right: 0;
    position: absolute;
    z-index: 2;
}



/* section-aboutus
ends */
/* ------ */
/* section-history 
starts */

.history-item-head {
    padding: 10px 0; 
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.history-item-body{
    max-height: 0px;
    overflow: hidden;
    transition: .4s;



    border-bottom: 1px solid azure;
    border-left: .5px solid rgb(128, 128, 128);
    border-right: .5px solid rgb(128, 128, 128);

    border-bottom-color:rgb(128, 128, 128) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
        /* on item-body--- 
        !for script control */
.toggle-show{
    max-height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.history-item-head h4{
    color: var(--focus-title-dark);
    font-size: 4rem;
    line-height: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    
}
.history-item-head span{
    color: var(--focus-title-sub-dark);
    font-size: 4rem;
}
.history-item-body p{
    padding: .8rem 1.5rem;

    color: #b2b2b2;
    font-size: 1.8rem;
    text-indent: 3.6rem;
    line-height: 2.6rem;

}






/* section-history 
ends */

@media screen and (max-width:900px) {

    .block-intro-img img{
        max-width: 24rem;
    }


    .block-intro-img img{
        max-width: unset;
    }


}
@media screen and (max-width: 768px) {

    .block-intro-img img{
        max-height: 30rem;
        /* width: 100%; */
        
    }
    .block-intro-content{
        padding-right: 0;
    }
    .section-aboutus-block-intro{
        background-color: #c5c5c513;
        padding: 2rem 0;

    }
    .block-intro-content .intro-content-title,
    .block-intro-content .intro-content-txt
    {
        width: 80%;
        margin: 0 10%;
        /* background-color: #35353542; */

    }

    
    .section-aboutus-block-story{
        row-gap: 0;
        /* background-color: #35353542; */
    }
    .block-story-content{
        padding: 1rem 0;
    }
    .block-story-content p{
        position: relative;
        left: 0;
        bottom: 0;
        padding-top: 1.5rem;
        margin: 1rem 0;

        background-color: unset;
        width: 80%;
        margin: auto;
        border: 1px solid #f3f3f393;
        border-radius: 50%;
        border-bottom: none;

    }
    .block-story-content p::after{
        background-color: unset;
        display:none;
    }


}