:root {
    --container-padding: 100px;
    --viewport-max-width: 1600px;
    --viewport-min-width: 800px;


    /* font-size */
    --default-fz: 16px;
    --lg-title-fz: 28px;



    /* font color --dark theme*/
    --focus-title-dark: #eaeaea;
    --focus-title-sub-dark: #e3e3e3;
    --feature-title-dark: #d2d2d2;
    --feature-title-sub-dark: #727272;

    --feature-text-dark: #b2b2b2;
    --content-text-light: #372a2a;
    --content-text-sub-light: #3e3434;
    /* section BG color */
    --default-theme-main: #2e0bac;
    --theme-pop: #af1414;
}


body {
    color: var(--focus-title-dark);
}

.focus-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    justify-items: center;

}

.focus-block-wrap{
    width: 100%;
    height: fit-content;
 }
.focus-block-wrap:hover   {
    animation: 1s going infinite;
    mask: linear-gradient(
        90deg,
        
        #fff 20%,
        #fff 80%,
        transparent
    );
}

.focus-block-img{
    background-color: #fff;

}






.focus-block-content {
    background-color: #3f3f3f2a;
    border-bottom: .1rem solid var(--feature-title-sub-dark);

}

.focus-block-content h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
    padding: 2rem 1rem;
    background-color: #53383823;
    box-sizing: border-box;
}

.focus-block-content p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    padding: 1rem;
}

.focus-icon-box {
    height: 40px;
    width: 100%;
    position: relative;
}

.focus-icon-box a {
    /* float: right; */
    display: block;
    height: 100%;
    width: 100%;
    /* background-color: #2b292923; */


}

.focus-icon-img {
    float: right;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* display: inline-block; */
}

.focus-icon-img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*  
-------*/

.otherFocus-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    /* background-color: #3f3f3f2a; */
    /* border-bottom: .1rem solid var(--feature-title-sub-dark); */
    /* width: 38%; */
    /* padding: 1rem; */
    box-sizing: border-box;
    gap: 1rem;
}

.ofItem {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    width: 100%;
    /* align-items: center; */
    box-sizing: border-box;

    padding: 1rem .5rem;
    background-color: #3f3f3f2a;
    border-bottom: .1rem solid var(--feature-title-sub-dark);
}
.ofItem:hover{
    animation: 1s going infinite;
    mask: linear-gradient(
        90deg,
        #fff 20%,
        #fff 90%,
        transparent
    );
}

.of-title {height: 100%;overflow: hidden;}
.of-img{height: 100%;}

.of-title h4 {
    padding: 0 .5rem;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2rem;
    background-color: #53383823;
    
}



.of-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1
}

/* 更多文章 */

.articles-list {
    display: grid;
    width: 100%;

    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    grid-gap: 2rem 2rem;
    grid-auto-flow: dense;
}

.article-card {
    width: auto;
    background-color: #363636;
}
.article-card:hover{
    animation: 1s going infinite;
    mask: linear-gradient(
        120deg,
        #fff 70%,
        transparent
    );
}

.article-card-title {
    border-top: 4px solid var(--theme-pop);
    padding: 10px 15px;
    box-sizing: border-box;

}

.article-card-title h4 {
    box-sizing: border-box;
    letter-spacing: 1.4px;
    /* padding:0px 8px ; */
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(88, 88, 88, 0.336);
}

.article-card-title span {
    display: block;
    /* background-color: #b8b8b8; */
    border: 1px solid #707070;
    background: #c5c5c5;
    border-radius: 2px;
    width: fit-content;
    padding: 3px 8px;
    margin-bottom: 10px;
    color: var(--content-text-light);
}



@media screen and (min-width: 1600px) {

    .articles-list {
        grid-gap: 2rem 3rem;
    }
}

@media screen and (max-width: 1200px) {}


@media screen and (max-width:900px) {

    .block-img,
    .block-content {
        width: 100%;
    }

    .focus-wrap {
        align-items: start;
    }
    .focus-block-wrap{
        flex-direction: column;
        row-gap: 2rem;
    }

    .articles-list {
        grid-gap: 2rem 1rem;
    }
}

@media screen and (max-width: 768px) {


    .focus-wrap {
        width: 100%;
        grid-template-columns:1fr;
    }

    .focus-block-wrap {
        width: 100%;
        flex-direction: row;
        row-gap: 2rem;
    }

    .otherFocus-list{grid-template-columns: 1fr 1fr 1fr;}


    .ofItem {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        height: 100%;
    }

    .ofItem .of-title{
        grid-row: 2;
        padding-top: 1rem;
    }

    .ofItem .of-img{
        flex-grow: 1;
        grid-row: 1;
        width: 100%; 
        /* height: 120px; */
        margin: auto;
    }
    .articles-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 414px) {
    .focus-block-wrap {
        flex-direction: column;
    }
    .otherFocus-list{
        grid-template-columns: 1fr;
    }
    /* .otherFocus-list {
        margin-top: 40px;
        flex-direction: column;
        width: 100%;
    } */

    .ofItem {
        height: auto;
        grid-template-columns: 1fr;
    }

    .articles-list {
        grid-template-columns: 1fr;
    }


}
@keyframes going{
    0%{
        transform: translateX(0%);
    }
    60%{
        transform: translateX(2%);
    }
    80%{
        transform: translateX(.2%);
    }
    100%{
        transform: translateX(0%);
    }
}